@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div id="ad-sentinel"></div>

<!-- MAIN -->
<main class="container home">
    <!-- Slideshow -->

    <div class="home__container">
        <div class="slideshow">
            <section class="promo-grid">
                <!-- Hàng trên -->
                <div class="promo-grid__top">
                    <div class="promo-grid__big">
                        <div id="my-slider">
                            <div class="slide-1">
                                <a href>
                                    <img src="~/Content/img/slide2/1.png"
                                         alt>
                                </a>
                            </div>
                            <div class="slide-2">
                                <a href>
                                    <img src="~/Content/img/slide2/2.png"
                                         alt>
                                </a>
                            </div>
                            <div class="slide-3">
                                <a href>
                                    <img src="https://file.hstatic.net/200000722513/file/gearvn-back-to-school-25-slider.png"
                                         alt>
                                </a>
                            </div>
                            <div class="slide-4">
                                <a href>
                                    <img src="https://file.hstatic.net/200000722513/file/gearvn-asus-sat-canh-nhe-ganh-hoc-choi-slider.jpg"
                                         alt>
                                </a>
                            </div>
                            <div class="slide-5">
                                <a href>
                                    <img src="https://file.hstatic.net/200000722513/file/gearvn-acer-back-to-school-2025-slider.jpg"
                                         alt>
                                </a>
                            </div>
                            <div class="slide-6">
                                <a href>
                                    <img src="https://file.hstatic.net/200000722513/file/gearvn-man-hinh-sub-t8.png"
                                         alt>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="promo-grid__side">
                        <div class="promo-grid__item">
                            <a href>
                                <img src="https://file.hstatic.net/200000722513/file/gearvn-build-pc-slider-right-t8.png"
                                     alt>
                            </a>
                        </div>
                        <div class="promo-grid__item">
                            <a href>
                                <img src="https://file.hstatic.net/200000722513/file/gearvn-ban-phim-slider-right-t8.png"
                                     alt>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="promo-grid__bottom">
                    <div class="promo-grid__item">
                        <a href>
                            <img src="https://file.hstatic.net/200000722513/file/gearvn-laptop-van-phong-slider-bot-t8.png"
                                 alt>
                        </a>
                    </div>
                    <div class="promo-grid__item">
                        <a href>
                            <img src="https://file.hstatic.net/200000722513/file/gearvn-laptop-gaming-slider-bot-t8.png"
                                 alt>
                        </a>
                    </div>
                    <div class="promo-grid__item">
                        <a href>
                            <img src="https://file.hstatic.net/200000722513/file/gearvn-pc-intel-slider-bot-t8.png"
                                 alt>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="home__container">
        <div class="hotdeal">
            <div class="hotdeal__wrap">
                <h2 class="hotdeal__titlemain">ƯU ĐÃI HÓT</h2>
                <div class="hotdeal__list">
                    <a href="#" aria-label="Giờ vàng giá sốc"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/unnamed.gif"
                                 alt="Giờ vàng giá sốc"
                                 class="hotdeal__item-gif">
                            <p class="hotdeal__title">
                                GIỜ VÀNG GIÁ
                                SỐC
                            </p>
                        </div>
                    </a>

                    <a href="#" aria-label="Tải app"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/250k.gif"
                                 alt="Tải app" class="hotdeal__item-gif">
                            <p class="hotdeal__title">TẢI APP</p>
                        </div>
                    </a>

                    <a href="#" aria-label="Laptop AI"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/Ai.gif"
                                 alt="Laptop AI"
                                 class="hotdeal__item-gif">
                            <p class="hotdeal__title">LAPTOP AI</p>
                        </div>
                    </a>

                    <a href="#" aria-label="Trả góp 0%"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/trả gop.gif"
                                 alt="Trả góp 0%"
                                 class="hotdeal__item-gif">
                            <p class="hotdeal__title">TRẢ GÓP 0%</p>
                        </div>
                    </a>

                    <a href="#" aria-label="Apple Education"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/apple.gif"
                                 alt="Apple Education"
                                 class="hotdeal__item-gif">
                            <p class="hotdeal__title">
                                APPLE
                                EDUCATION
                            </p>
                        </div>
                    </a>

                    <a href="#" aria-label="Free ship"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/free.gif"
                                 alt="Free ship"
                                 class="hotdeal__item-gif">
                            <p class="hotdeal__title">FREE SHIP</p>
                        </div>
                    </a>

                    <a href="#" aria-label="Đổi điểm THPT 2025"
                       class="hotdeal__link">
                        <div class="hotdeal__item">
                            <img src="~/Content/icons/doidiem.gif"
                                 alt="Đổi điểm THPT 2025"
                                 class="hotdeal__item-gif">
                            <p class="hotdeal__title">
                                ĐỔI ĐIỂM THPT
                                2025
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="flashsales">
            <div class="flashsales__row">
                <div class="flashsales-wrap">
                    <div class="flashsale-countdown">
                        <span class="flashsale-title">
                            FLASH
                            <span>SALE</span>
                        </span>
                        <span class="flashsale-text">
                            Kết thúc
                            trong
                        </span>
                        <div id="countdown">
                            <span id="hours">00</span> :
                            <span id="minutes">00</span> :
                            <span id="seconds">00</span>
                        </div>
                    </div>
                    <div class="sample-3">
                        <div class="tabzy-wrapper">
                            <ul id="sliding-tabs"
                                class="tabzy-tabs sliding">
                                <li>
                                    <a href="#slide1">
                                        Laptop
                                        <br><span>
                                            Giảm đến
                                            40%
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#slide2">
                                        Linh
                                        Kiện<br><span>
                                            Giảm đến
                                            40%
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#slide3">
                                        Màn
                                        Hình<br><span>
                                            Giảm đến
                                            40%
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#slide4">
                                        Phím
                                        Chuột<br><span>
                                            Giảm đến
                                            40%
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#slide5">
                                        Camera - Thiết bị
                                        Mạng<br><span>
                                            Giảm đến
                                            40%
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#slide6">
                                        Loa - Phụ
                                        Kiện<br><span>
                                            Giảm đến
                                            40%
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="active-line"></div>
                            <div id="slide1" class="tabzy-panel">
                                <div id="my-slider1"
                                     class="slidezy-container"></div>
                            </div>
                            <div id="slide2" class="tabzy-panel" hidden>
                                <div id="my-slider2"
                                     class="slidezy-container"></div>
                            </div>
                            <div id="slide3" class="tabzy-panel" hidden>
                                <div id="my-slider3"
                                     class="slidezy-container"></div>
                            </div>
                            <div id="slide4" class="tabzy-panel" hidden>
                                <div id="my-slider4"
                                     class="slidezy-container"></div>
                            </div>
                            <div id="slide5" class="tabzy-panel" hidden>
                                <div id="my-slider5"
                                     class="slidezy-container"></div>
                            </div>
                            <div id="slide6" class="tabzy-panel" hidden>
                                <div id="my-slider6"
                                     class="slidezy-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="product-showcase product-showcase--pc">
            <h2 class="product-showcase__heading">PC</h2>
            <div id="my-slider7">
            </div>
        </section>
        <section class="product-showcase product-showcase--Laptop">
            <h2 class="product-showcase__heading">Laptop Gaming</h2>
            <div id="my-slider8">
            </div>
        </section>
        <section class="product-showcase product-showcase--manhinh">
            <h2 class="product-showcase__heading">Màn Hình</h2>
            <div id="my-slider9">
            </div>
        </section>
        <section class="product-showcase product-showcase--ram">
            <h2 class="product-showcase__heading">RAM</h2>
            <div id="my-slider10">
            </div>
        </section>
        <section class="product-showcase product-showcase--vga">
            <h2 class="product-showcase__heading">VGA</h2>
            <div id="my-slider11">
            </div>
        </section>
        <section class="product-showcase product-showcase--banphim">
            <h2 class="product-showcase__heading">Bàn Phím</h2>
            <div id="my-slider12">
            </div>
        </section>
        <!-- ========== CATEGORY ICONS ========== -->
        <section class="cat-nav">
            <h2 class="product-showcase__heading">Danh mục nổi bật</h2>

            <div class="cat-nav__grid">
                <!-- Laptop -->
                <a class="cat-nav__item"
                   href="@Url.Action("Index", "Category", new { type = "Laptop" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw"
                             alt="Laptop" loading="lazy"
                             decoding="async">
                    </div>
                    <div class="cat-nav__title">Laptop</div>
                </a>

                <!-- Apple -->
                <a class="cat-nav__item"
                   href="@Url.Action("Index", "Category", new { type = "Mac" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/-aCd8i2G54Yjj2di-adYl-p3Bq2NCj5VMkeKoIffQIa3VjAGwQjkot3asGHsRZsB-ct_jj8Lf4yeSX5r0V4p2bEomw10_jU=rw"
                             alt="Apple" loading="lazy" decoding="async">
                    </div>
                    <div class="cat-nav__title">Apple</div>
                </a>

                <!-- PC -->
                <a class="cat-nav__item" href="@Url.Action("Index", "Category", new { type = "PC" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/uU75o6AxF-5MaV5ZggOHQUB0QDw-vIjh5_dlhaMGf-PuAZqup1qc_vzKmy7HMoIHymGQk2Yx9kD0igId_n6GNG5lANT0hiW2=rw"
                             alt="PC" loading="lazy" decoding="async">
                    </div>
                    <div class="cat-nav__title">PC</div>
                </a>

                <!-- Linh kiện -->
                <a class="cat-nav__item"
                   href="@Url.Action("Index", "Category", new { type = "Khác" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/Qw_Mr70GSpZtMN941dodaSHxVpY5hXlSRx7NK9PgYZNb8cvfUbRQCRjf9pPop9VG1KQAUfEdXL7__17Rg7OXRqh0BNaluVrs=rw"
                             alt="Linh Kiện" loading="lazy"
                             decoding="async">
                    </div>
                    <div class="cat-nav__title">Linh Kiện</div>
                </a>

                <!-- Màn hình -->
                <a class="cat-nav__item"
                   href="@Url.Action("Index", "Category", new { type = "Màn hình" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/7JFLUTP034xnsnQIEVTxWM_IsiXHX56Y1kDiLl3ndQPNxqzEdTxUceIpxP4SbAojql0ZdTIIbiXH5mXRY8E5-uoCRlW187JK=rw"
                             alt="Màn Hình" loading="lazy"
                             decoding="async">
                    </div>
                    <div class="cat-nav__title">Màn Hình</div>
                </a>

                <!-- Phụ kiện -->
                <a class="cat-nav__item"
                   href="@Url.Action("Index", "Category", new { type = "Bàn phím" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/UHhDaYzu59_hQlfPzC-y1WEPAZ_4sg4ny6Ng5Vyk9eKfUQT-9ussEBOQ4jbs4k3LWKAVTpoL2perBqVrcXPXvIBkz9oziHLc0Q=rw"
                             alt="Phụ Kiện" loading="lazy"
                             decoding="async">
                    </div>
                    <div class="cat-nav__title">Phụ Kiện</div>
                </a>

                <!-- Thiết bị mạng -->
                <a class="cat-nav__item"
                   href="@Url.Action("Index", "Category", new { type = "Thiết bị Mạng" })">
                    <div class="cat-nav__thumb">
                        <img src="https://lh3.googleusercontent.com/iqivqljaiILlvZPYrAIq8z0K-32GeszW-rRkHJxWv_XyEL8xB5ylpaDgxDe3ItBsus3kw5TzaxFCaZ6m8_Ht7hrktw8bFCNArA=rw"
                             alt="Thiết Bị Mạng" loading="lazy"
                             decoding="async">
                    </div>
                    <div class="cat-nav__title">Thiết Bị Mạng</div>
                </a>
            </div>
        </section>

    </div>
    <a class="side-ad side-ad--left" href="#">
        <img src="https://file.hstatic.net/200000722513/file/gearvn-pc-gvn-t8-sticky-banner.jpg"
             alt>
    </a>
    <a class="side-ad side-ad--right" href="#">
        <img src="https://file.hstatic.net/200000722513/file/gearvn-back-to-school-25-sticky.png"
             alt>
    </a>
</main>
@section Scripts {
    <script>
        console.log("Trang chủ Shark Tank đã load");
    </script>
}